
<section>
    <h2 class="night-word" >Crie sua própria sala</h2>
    <form action="/create-room" method="POST">
        <labe class="sr-only" for='room-pass'>Insira uma senha</labe>
        <input type="password" name="password" placeholder="Insira uma senha" id='room-pass'>
        <button class="night-button">
            <img class="night-icon-user" src="images/users.svg" alt="Entrar na Sala">
            Criar Sala
        </button>
    </form>
</section>          