<div class="no-questions">
    <img src="/images/ilustração.svg" alt="Sem perguntas">
    <p class="night-word">Nenhuma pergunta por aqui...</p>
    <p class="night-word">Faça sua primeira pergunta e envie o <br>código dessa sala para outras pessoas!</p>
</div>