<div class="no-room">
    <p class="night-word">Sala não encontrada</p>
    <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_nucheY.json"  
    background="transparent"  speed="1"  
    loop  autoplay></lottie-player>
    <a href="/" class='button outlined night-button night-word'>
        Voltar
    </a>
</div>